{% extends "../base.html" %}

{% block title %} {{ currenter.name }} - {% end %}
{% block script %}<script type="text/javascript" src="{{ static_url('js/profile.js') }}"></script>{% end %}
{% block content %}
<section class="box no-padding">
{{ modules.Profile(currenter)}}
</section>
<div id="mainbar">
  <section class="box no-padding">
  <header>正在关注</header>
  {{ modules.UserList(users) }}
  <div id="loadmore">
    <a class="loadmore" href="/user/{{ currenter.name }}/following/page/{{ page + 1 }}">更多</a>
  </div>
</section>
</div>
{% end %}
