{% extends "../base.html" %}

{% block content %}
<section class="box">
<form method="post" id="reg" name="reg" action="/login">
  <fieldset>
    <legend>登录</legend>
    <div class="form-group">
      <label for="name">用户名或邮箱</label>
      <input name="name" id="name" size=40 type="text">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input name="password" id="password" size=40 type="password">
    </div>
    <div class="form-action">
      {{ xsrf_form_html() }}
      <input class="btn" name="commit" type="submit" value="登录">
    </div>
  </fieldset>
</form>
</section>
{% end %}
