{% extends "../base.html" %}

{% block script %}<script type="text/javascript" src="{{ static_url('js/register.js') }}"></script>{% end %}
{% block content %}
<section class="box">
<form method="post" id="reg" name="reg" action="/register">
  <fieldset>
    <legend>注册</legend>
    <div class="form-group">
      <label for="name">用户名</label>
      <input name="name" id="name" size=40 type="text">
    </div>
    <div class="form-group">
      <label for="email">邮箱</label>
      <input name="email" id="email" size=40 type="text">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input name="password" id="password" size=40 type="password">
    </div>
    <div class="form-group">
      <label for="password_confirmation">确认密码</label>
      <input name="password_confirmation" id="password_confirmation" size=40 type="password">
    </div>
    <div class="form-action">
      {{ xsrf_form_html() }}
      <input class="btn" name="commit" type="submit" value="注册">
    </div>
  </fieldset>
</form>
</section>
{% end %}
