@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
  margin: 0;
  font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(/static/img/bg.png);
}

.wrapper {
  margin: 0 auto;
  width: 920px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
}

a, a:visited {
  color: #666;
}
a:hover, a:focus, .name a:hover {
  color: rgba(173, 58, 43, 1);
}

#nav {
  margin: 0 auto;
  width: 900px;
  background-color: #ff8f2f;
  background-image: -moz-linear-gradient(top,#ff8f2f,#ff7600);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff8f2f),to(#ff7600));
  background-image: -webkit-linear-gradient(top,#ff8f2f,#ff7600);
  background-image: -o-linear-gradient(top,#ff8f2f,#ff7600);
  background-image: linear-gradient(to bottom,#ff8f2f,#ff7600);
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

#nav a {
  text-decoration: none;
  color: black;
}

#nav .band {
  float: left;
  width: 400px;
  margin-left: 14px;
}

.band h1 {
  color: #333;
  text-shadow: 0 1px 0 #CE4213;
}
#nav .menu {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

#nav .menu a {
  color: #333;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  background-color: #ff8c00;
  border: 0;
  cursor: pointer;
  border-radius: 0;
  font-weight: bold;
  background-color: #ff8f2f;
  background-image: -moz-linear-gradient(top,#ff9a35, #ff8c00);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff9a35),to(#ff8c00));
  background-image: -o-linear-gradient(top,#ff9a35, #ff8c00);
  background-image: linear-gradient(to bottom,#ff9a35, #ff8c00);
  background-image: -webkit-linear-gradient(top, #ff9a35, #ff8c00);
}
#nav .menu a:hover{
  background: #ff9a35;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #ff8c00, #ff9a35);
}
#content {
  overflow: auto;
}

#mainbar {
  float: left;
  width: 690px;
  margin-bottom: 30px;
}

#sidebar {
  float: right;
  width: 220px;
}

label {
  float: left;
  width: 140px;
  padding-top: 5px;
  padding-right: 8px;
  text-align: right;
}

.form-group {
  padding-top: 10px;
}

.form-action {
  margin-top: 20px;
  padding: 15px 0 15px 160px;
  background-color: whiteSmoke;
}

.twitter-action {
  padding: 15px;
  width: 500px;
}

#twitter {
  width: 450px;
  padding: 20px 25px 10px 25px;
  margin-bottom: 20px;
}
#twitter textarea {
  width: 500px;
}
.twitter-action input {
  float: right;
}

.btn {
  color: #333;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px #dcd solid;
  cursor: pointer;
  border-radius: 0;
  font-weight: bold;
  background-color: rgba(238, 238, 238, 0.65);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.13);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238, 238, 238, 0.09)), color-stop(100%,rgba(204, 204, 204, 0.93)));
  text-shadow: 0 1px 0 #D6D3C7;
}

.btn:hover, .btn:active {
  text-decoration: none;
  background-color: #fff;
}

.unfo {
  background-color: #FFFFA5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 247, 223, 0.09)), color-stop(100%,rgba(255, 225, 71, 0.93)));
}

.unfo:hover {
  background-color: #FFF;
}

.mini-btn {
  font-size: 12px;
  padding: 6px 8px;
}

input, textarea {
  color: #555;
  padding: 6px 8px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: 'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  border: 1px solid #CCC;
  border-radius: 3px;
}

input:focus, textarea:focus {
  border-color: rgba(230, 128, 61, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(226, 163, 30, 0.6);
  outline: 0;
}

fieldset {
  border: 0;
}

legend {
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #eee;
}

.item {
  padding: 15px 20px;
  border-bottom: 1px #ded solid;
}

.twitter-item {
  min-height: 60px;
}

.mini-profile .fullname {
  display: block;
  color: #333;
}

.mini-profile a:hover .fullname {
  color: rgba(173, 58, 43, 1);
}

.profile-summary {
  padding-bottom: 16px;
  border-bottom: 1px #ded dashed;
}

.profile-summary .mation {
  margin-left: 60px;
}

.profile-summary .avatar {
  float: left;
}

.profile-stats {
}

.stats {
  font-size: 12px;
  overflow: hidden;
}

ul {
  list-style: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

.stats li {
  display: inline;
}

.stats a {
  float: left;
  padding: 7px 12px;
  color: #555;
}

.stats a strong {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.stats a:hover strong {
  color: rgba(173, 58, 43, 1);
}

small {
  font-size: 11px;
  color: #555;
  margin-left: 5px;
}

.item .avatar {
  float: left;
}

.twitter-content {
  overflow: hidden;
  padding: 0 10px;
}

.user-item .profile-action a {
  font-size: 11px;
  padding: 3px 10px 6px 10px;
  margin-bottom: 30px;
}

.user-item .mini-profile-content {
  margin-left: 56px;
  max-height: 1px;
  font-size: 14px;
}

.user-item .mini-profile-content .content {
  margin-right: 120px;
  font-size: 12px;
  color: #555;
}

.user-item {
  overflow: hidden;
}

.name {
  color: #333;
}

.name a {
  color: #333;
}

.comment-wrap {
  display: none;
  margin-top: 10px;
  padding-top: 5px;
  border-left: 3px solid #ded;
  margin-left: 36px;
}

.comment-iterm {
  margin: 8px 0;
  padding: 10px;
  border-bottom: 0;
  border-top: 1px #ded dashed;
}

.twitter-comments {
  padding-left: 10px;
  padding-right: 30px;
}

.twitter-comment-textbox {
  margin-top: 10px;
  margin-left: 20px;
}

.twitter-comment-textbox form {
  margin-bottom: 15px;
}
.comment-content {
  margin-left: 32px;
}

.comment-content .content {
  font-size: 13px;
  color: #333;
}

.comment-content .info {
  font-size: 11px;
}

.content {
  padding: 5px 0;
}

.info {
  overflow: hidden;
  min-height: 21px;
}

.action {
  display: inline;
  float: right;
}

.action ul {
  display: none;
}

.action li {
  display: inline;
}

.action a {
  color: #555;
  text-shadow: 0px 1px 0px white;
  font-size: 12px;
  padding: 3px 6px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#CCC));
}

.action a:hover{
  color: #000;
  text-decoration: none;
  background-color: #dadada;
}

.big-profile {
  padding: 15px 25px;
  margin-bottom: 10px;
  overflow: hidden;
}

.big-profile .avatar {
  float: left;
}

.big-profile .mation {
  max-height: 1px;
  margin-left: 142px;
}

.profile-action {
  float: right;
  margin-top: 6px;
}

.description {
  margin: 10px 0;
  font-size: 13px;
  color: #333;
  margin-right: 160px;
}

.website {
  font-size: 12px;
}

a.btn {
  color: #333;
}

.profile-action .stats {
  margin-top: 10px;
  max-width: 75px;
}

.profile-action .stats li {
  display: block;
}

.profile-action .stats li strong {
  display: inline;
  margin-right: 5px;
}

.profile-action .stats li a {
  padding: 3px 6px;
  white-space: nowrap;
}

#loading, #nomoreresults {
  display: none;
}

#loadmore {
  margin-top: 20px;
  text-align: center;
  min-height: 45px;
}

#loadmore a {
  padding: 10px 140px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border: 1px solid #ded;
}

#loadmore a:hover {
  color: rgba(173, 58, 43, 1);
}

#loadunread {
  background-color: #eee;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
}

#loadunread a {
  padding: 8px 140px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.post-title p {
  display: inline;
}

.notifier {
  text-align: center;
}

.notifier a {
  font-size: 13px;
  padding: 6px 20px;
  color: #333;
  border: 1px solid #cdc;
}

.notifier a:hover {
  color: #222;
  background-color: #ff8f2f;
  background-image: -moz-linear-gradient(top,#ff8f2f,#ff7600);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff8f2f),to(#ff7600));
  background-image: -webkit-linear-gradient(top,#ff8f2f,#ff7600);
  background-image: -o-linear-gradient(top,#ff8f2f,#ff7600);
  background-image: linear-gradient(to bottom,#ff8f2f,#ff7600);
}

.unread {
  border-right: 4px solid rgba(230, 128, 61, 0.8);
  outline: 0;
}

#start {
  padding: 80px 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}

#floater {
  overflow: hidden;
}
#floater .avatar {
  float: left;
}

#floater .floater-content {
  float: left;
  margin-left: 4px;
  max-height: 1px;
}

#floater .profile-action {
  margin-left: 10px;
}

.box {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
}

section {
  padding: 14px;
  margin-bottom: 20px;
  overflow: hidden;
}

section.no-padding {
  padding: 0;
}

section.no-hidden {
  overflow: auto;
}

section.no-margin {
  margin-bottom: 0;
}

footer {
  margin-top: 30px;
  padding: 10px 0 5px;
  background-color: white;
  min-height: 68px;
  border-top: 1px solid #bdbdbd;
  color: #899094;
  font: 12px/1.2 "Luxi Sans", "Lucida Grande", "Hiragino Sans GB", sans-serif;
}

header {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.action-area {
  min-height: 30px;
  padding: 15px 30px;
}

.profile-nav li {
  border-top: 1px solid #ddd;
}

.profile-nav li a {
  display: block;
  padding: 8px 12px;
}

.active {
  color: #000;
  font-weight: bolder;
}

.user {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 70px;
  text-align: center;
}

.user-list {
  padding-bottom: 20px;
  overflow: hidden;
}


.single {
  border-bottom: 0;
}

.explain {
  padding: 15px 20px;
  display: block;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.8);
}


#confirm-box {
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -130px 0 0 -230px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
  z-index: 1000000;
}

#confirm-box header {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F0F1F2), color-stop(1, white));
}
#confirm-box .confirm-action {
  padding: 15px;
  text-align: center;
}
#confirm-box .confirm-action a {
  margin: 0 20px;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.gone {
  display: none !important;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hide {
  display: none;
}

.retweeter {
  font-size: 12px;
}

.curly {
  background: transparent url(/static/img/curly.png) top right no-repeat;
}

.items .item:nth-child(1) {
  border-top: 1px solid #ded;
}
